.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
}

.portfolio_item {
    background: var(--color-bg-varient);
    border: 1px solid transparent;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio_item div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.portfolio_item-image img {
    margin: 1rem 1rem 1rem 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    overflow: hidden;
}

.portfolio_item h3 {
    padding-bottom: 0.5rem;
}

/* ============== MEDIA QUERIES (MEDIUM DIVICES)================= */
@media screen and (max-width: 1024px) {
    .portfolio_container{
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.service {
    height: auto;
}

}

/* ============== MEDIA QUERIES (SMALL DIVICES)================= */
@media screen and (max-width: 600px) {
    .portfolio_container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}